#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <0 1>;
            layers = <0>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <5 4>;
            layers = <0>;
        };

        atsign_f12 {
            bindings = <&mt F12 AT_SIGN>;
            key-positions = <10 11>;
            layers = <0>;
        };

        remove_duplicates {
            bindings = <&remove_duplicates>;
            key-positions = <3 2>;
            layers = <1>;
        };

        win_hold {
            bindings = <&window_hold>;
            key-positions = <0 1>;
            layers = <1>;
        };

        merging {
            bindings = <&merging_cells>;
            key-positions = <13 12>;
            layers = <1>;
        };

        sheet_delete {
            bindings = <&sheet_delete>;
            key-positions = <45 44>;
            layers = <1>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        sort: transe_row_colum {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(D) &kp S>;
            label = "TRANSE_ROW_COLUM";
        };

        remove_duplicates: choufuku {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp A &kp M>;
            label = "CHOUFUKU";
        };

        window_hold: window_hold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp W &kp F &kp F>;
            label = "WINDOW_HOLD";
        };

        merging_cells: merging_cells {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp M &kp C>;
            label = "MERGING_CELLS";
        };

        paste_formulas_only: paste_formulas_only {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp F &kp ENTER>;
            label = "PASTE_FORMULAS_ONLY";
        };

        transpose_and_paste: transpose_and_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp E &kp V &kp ENTER>;
            label = "TRANSPOSE_AND_PASTE";
        };

        paste_memo_only: paste_memo_only {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp S &kp C &kp ENTER>;
            label = "PASTE_MEMO_ONLY";
        };

        auto_calculation: auto_calculation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp X &kp A>;
            label = "AUTO_CALCULATION";
        };

        auto_calculation_off: auto_calculation_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp M &kp X &kp M>;
            label = "AUTO_CALCULATION_OFF";
        };

        name_change: name_change {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp LCLK &kp F2>;
            label = "NAME_CHANGE";
        };

        sheet_delete: seet_delete {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(E) &kp L>;
            label = "SEET_DELETE";
        };

        double_zero: double_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp KP_NUMBER_0 &kp KP_NUMBER_0>;
            label = "DOUBLE_ZERO";
        };

        row_plus: row_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(KP_PLUS)>;
            label = "ROW_PLUS";
        };

        row_minus: row_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(KP_MINUS)>;
            label = "ROW_MINUS";
        };

        colum_plus: colum_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(KP_PLUS)>;
            label = "COLUM_PLUS";
        };

        colum_minus: colum_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(KP_MINUS)>;
            label = "COLUM_MINUS";
        };

        row_copy: row_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(C)>;
            label = "ROW_COPY";
        };

        row_cut: row_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(SPACE) &kp LC(X)>;
            label = "ROW_CUT";
        };

        colum_copy: colum_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(C)>;
            label = "COLUM_COPY";
        };

        colum_cut: colum_cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE) &kp LC(X)>;
            label = "COLUM_CUT";
        };

        vlookup: vlookup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp I &kp F &kp N &kp A &kp LEFT_PARENTHESIS &kp V &kp L &kp O &kp O &kp K &kp U &kp P &kp LEFT_PARENTHESIS>;
            label = "VLOOKUP";
        };

        sumif: sumif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp I &kp F &kp LPAR>;
            label = "SUMIF";
        };

        sumifs: sumifs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp I &kp F &kp S &kp LPAR>;
            label = "SUMIFS";
        };

        round: round {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp LPAR &kp LPAR>;
            label = "ROUND";
        };

        roundup: roundup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp U &kp P &kp LPAR &kp LPAR>;
            label = "ROUNDUP";
        };

        rounddown: rounddown {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp R &kp O &kp U &kp N &kp D &kp D &kp O &kp W &kp N &kp LPAR &kp LPAR>;
            label = "ROUNDDOWN";
        };

        sum: sum {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp LPAR>;
            label = "SUM";
        };

        sumproduct: sumproduct {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp P &kp R &kp O &kp D &kp U &kp C &kp T &kp LPAR>;
            label = "SUMPRODUCT";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        ht_calculation: ht_calculation {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&auto_calculation>, <&auto_calculation_off>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            label = "HT_CALCULATION";
        };

        ht_sheet_delete_kp: ht_sheet_delete_kp {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&sheet_delete>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <250>;
            flavor = "balanced";
            label = "HT_SHEET_DELETE_KP";
        };

        tap_rclk: tap_rclk {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mkp RCLK>, <&kp LC(C)>, <&kp LC(X)>, <&name_change>;

            tapping-term-ms = <250>;
            label = "TAP_RCLK";
        };

        tap_paste: tap_paste {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(V))>, <&kp LC(V)>;

            tapping-term-ms = <250>;
            label = "TAP_PASTE";
        };

        tap_paste_sp: tap_paste_sp {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            label = "TAP_PASTE_SP";
            bindings =
                <&kp LC(LS(V))>,
                <&kp LC(V)>,
                <&paste_formulas_only>,
                <&transpose_and_paste>,
                <&paste_memo_only>;
        };

        tap_equal: tap_equal {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mt LC(KP_NUMBER_1) EQUAL>, <&sum>, <&sumproduct>;

            tapping-term-ms = <250>;
            label = "TAP_EQUAL";
        };

        tap_lookup: tap_lookup {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mt DOUBLE_QUOTES F4>, <&vlookup>, <&sumif>, <&sumifs>;

            tapping-term-ms = <250>;
            label = "TAP_LOOKUP";
        };

        tap_round: tap_round {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt LEFT_SHIFT BACKSLASH>,
                <&roundup>,
                <&rounddown>,
                <&round>;

            tapping-term-ms = <250>;
            label = "TAP_ROUND";
        };

        tap_row_copy_plus: tap_row_copy_plus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt LS(SPACE) LC(LS(RIGHT_ARROW))>,
                <&row_copy>,
                <&row_plus>,
                <&kp LA(LS(RIGHT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_ROW_COPY_PLUS";
        };

        tap_row_cut_minus: tap_row_cut_minus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&sort>,
                <&row_cut>,
                <&row_minus>,
                <&kp LA(LS(LEFT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_ROW_CUT_MINUS";
        };

        tap_colum_copy_plus: tap_colum_copy_plus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&mt LC(SPACE) LC(LS(DOWN_ARROW))>,
                <&colum_copy>,
                <&colum_plus>,
                <&kp LA(LS(RIGHT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_COLUM_COPY_PLUS";
        };

        tap_colum_cut_minus: tap_colum_cut_minus {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings =
                <&ht_calculation 0 0>,
                <&colum_cut>,
                <&colum_minus>,
                <&kp LA(LS(LEFT_ARROW))>;

            tapping-term-ms = <250>;
            label = "TAP_COLUM_CUT_MINUS";
        };

        tap_up: tap_up {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            label = "TAP_UP";
            bindings =
                <&mt LA(RIGHT_ARROW) UP_ARROW>,
                <&kp HOME>,
                <&kp LG(UP_ARROW)>;
        };

        tap_down: tap_down {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            label = "TAP_DOWN";
            bindings =
                <&mt LA(LEFT_ARROW) DOWN_ARROW>,
                <&kp END>,
                <&kp LG(DOWN_ARROW)>;
        };

        tap_scrl_virtical: tap_scrl_virtical {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_SCRL_VIRTICAL";
            #binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tapping-term-ms = <200>;
        };

        tap_scrl_horizontal: tap_scrl_horizontal {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_SCRL_HORIZONTAL";
            #binding-cells = <0>;
            bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q                                 &kp W           &kp E     &kp R              &kp T          &kp Y                                                         &mkp LCLK           &tap_rclk                &kp U  &kp I  &kp O                &kp P
&kp TAB                               &kp A           &kp S     &kp D              &kp F          &kp G        &mt LG(LS(S)) ESCAPE    &tap_scrl_virtical       &tap_up             &tap_paste               &kp H  &kp J  &kp K                &kp L
&kp LSHFT                             &kp LEFT_SHIFT  &kp Z     &kp X              &kp C          &kp V        &kp B                   &mt LS(HOME) LEFT_ARROW  &tap_down           &mt LS(END) RIGHT_ARROW  &kp N  &kp M  &mt SEMICOLON COMMA  &mt COLON DOT
&mt LEFT_CONTROL LANG_ZENKAKUHANKAKU  &kp LGUI        &kp LALT  &mt LA(F4) DELETE  &kp BACKSPACE  &lt 1 SPACE  &trans                  &lt 6 LC(PAGE_DOWN)      &mt F2 LC(PAGE_UP)                                         &mt SLASH MINUS      &lt 1 ENTER
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        NUM_SYMBOL {
            bindings = <
&mt KP_NUMLOCK F9  &kp KP_NUMBER_7                  &kp KP_NUMBER_8  &kp KP_NUMBER_9            &mt LESS_THAN LEFT_PARENTHESIS  &mt GREATER_THAN RIGHT_PARENTHESIS                                      &trans                &trans              &kp APOSTROPHE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET
&tap_lookup        &kp KP_NUMBER_4                  &kp KP_NUMBER_5  &mt AMPERSAND KP_NUMBER_6  &mt PERCENT ASTERISK            &mt AMPERSAND SLASH                 &trans        &tap_scrl_horizontal  &tap_colum_cut_minus  &tap_paste_sp       &kp DOLLAR       &kp PERCENT           &kp AMPERSAND          &kp RIGHT_BRACKET
&tap_round         &kp KP_NUMBER_1                  &kp KP_NUMBER_2  &kp KP_NUMBER_3            &mt LC(PLUS) PLUS               &mt LC(MINUS) MINUS                 &tap_equal    &tap_row_cut_minus    &tap_colum_copy_plus  &tap_row_copy_plus  &kp EXCLAMATION  &kp DOUBLE_QUOTES     &kp POUND              &kp GRAVE
&trans             &mt LC(KP_NUMBER_0) KP_NUMBER_0  &double_zero     &mt COMMA DOT              &trans                          &trans                              &trans        &trans                &trans                                                                           &trans                 &trans
            >;

            sensor-bindings = <&ROTATE SCRL_RIGHT SCRL_LEFT>;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans        &trans        &trans        &trans                       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans        &trans        &trans        &trans        &trans          &trans
&trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kt KP_N4  &trans    &trans  &trans        &trans        &trans        &trans        &bt BT_CLR      &trans
&trans  &trans  &trans        &trans        &trans        &trans     &trans    &trans  &trans                                                  &bt BT_CLR_ALL  &trans
            >;
        };
    };
};
